
body {
  background-color: #53ddfc;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: #ee6ffc;
  text-align: center;
  border-radius: 15px;
  width: 90%;
}

h1, .lastname {
  font-size: 2.5rem;
  color: #007bff;
  text-align: center;
  margin-top: 10px;
}


.profile-pic {
  width: 80px;
  border-radius: 20px;
  margin-top: 30px;

}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fffc45;
}
.resume, .github{
  color: #092cf2;
  margin-bottom: 20px;
  font-size: 1.5rem;
  margin-bottom: 12px;
}
a:hover {
  color:red;
}
@media (min-width: 768px){
    .container {
      width: 95%;
      padding: 15px;
    }

}