body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #6af2f2;
  color: #020202;
}

.container {
  max-width: 500vh;
  background: #ffffff;
 text-align: center;
} 

h1, h2, h3 {
  color: #0c56a1;
  font-size: 1.5rem;
  text-align: center;
}
li{
  color: black;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
.name{
  color: black;
  font-size: large;
  text-align: center;


}
a {
  color: #2980b9;
  font-size: 1rem;
  
}

a:hover {
  color: red;
}

.contact {
  margin: 0.5rem 0 2rem 0;
  font-size: 0.95rem;
}



@media (min-width: 768px){
   
}